<head>

</head>
<body>
<fieldset>

	<%= f.text_field :condition, placeholder: "Condition", class: 'form-control condition-field' %>

  <%= f.text_area :notes, placeholder: "Notes", class: 'form-control notes-field' %> 

  <%= f.check_box :emergency, class: 'emergency-field', data: { toggle: 'tooltip', placement: 'top', title: 'Add to Emergency Profile?' } %> 


  <%= f.hidden_field :_destroy %>

  <%= link_to "<span class='glyphicon glyphicon-trash'></span> ".html_safe, '#', class: "remove_fields", rel: 'tooltip', placement: 'top', title: 'Delete' %>


</fieldset>

</body>