<% if @condition.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@condition.errors.count, "error") %> prohibited this post from being saved:</h2>
    <ul>
    <% @condition.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @condition do |f| %> </p>
  <p> <%= f.label :condition, 'Condition' %>  </p>
  <p> <%= f.text_field :condition, required: true %> </p>     

  <p> <%= f.label :notes, 'Notes' %> </p>
  <p> <%= f.text_field :notes %> </p>
  
  <p> <%= f.submit %> </p>
  
<%end%>
