

<h1>Your Information</h1>

<p> <%= @profile.firstname %>  </p>
<p> <%= @profile.lastname %>  </p>
<p> <%= @profile.dob %>  </p>
<p> <%= @profile.contactnr %>  </p>
<p> <%= @profile.address1 %>  </p>
<p> <%= @profile.address2 %>  </p>
<p> <%= @profile.town %>  </p>
<p> <%= @profile.county %>  </p>
<p> <%= @profile.country %>  </p>
<p> <%= @profile.postcode %>  </p>
<p> <%= @profile.gender %>  </p>