<% if @user.profile %>
  <div class='row'>
    <div class="col-xs-12 col-md-6 blue">
      <table style="width:80%">
        <tr>
          <td>Name</td>
          <td> <%= @user.profile.firstname %> <%= @user.profile.lastname %></td>
        </tr>
        <tr>
          <td>Date of Birth</td>
          <td><%= @user.profile.dob %></td>
        </tr>
        <tr>
          <td>Contact Number</td>
          <td><%= @user.profile.contactnr %></td>
        </tr>
        <tr>
          <td>Address 1</td>
          <td><%= @user.profile.address1 %></td>
        </tr>
        <tr>
          <td>Address 2</td>
          <td><%= @user.profile.address2 %></td>
        </tr>
        <tr>
          <td>Town</td>
          <td><%= @user.profile.town %></td>
        </tr>
        <tr>
          <td>County</td>
          <td><%= @user.profile.county %></td>
        </tr>
        <tr>
          <td>Country</td>
          <td><%= @user.profile.country %></td>
        </tr>
        <tr>
          <td>Postcode</td>
          <td><%= @user.profile.postcode %></td>
        </tr>
        <tr>
          <td>Gender</td>
          <td><%= @user.profile.gender %></td>
        </tr>
      </table>
    </div>
  </div>
<% end %>

<% if @user.emergencycontact %>
  <%= button_to 'Send SMS', messages_path %>
<% end %>


      <% if false %>
      Name: <%= @user.profile.firstname %> <%= @user.profile.lastname %>
      Date of Birth: <%= @user.profile.dob %>
      <%= @user.profile.contactnr %>
      <%= @user.profile.address1 %>
      <%= @user.profile.address2 %>
      <%= @user.profile.town %>
      <%= @user.profile.county %>
      <%= @user.profile.country %>
      <%= @user.profile.postcode %>
      <%= @user.profile.gender %>
      <% end %>


<div class="row">
  <div class="col-xs-12 col-md-6 blue">
    <h4>Medication</h4>
    <table>
      <% @user.medications.each do |med| %>
        <% if med.emergency == true %>
          <tr>
          <td><%= med.medication %></td>
          <td><%= med.dose %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-6 blue">
    <h4>Condition</h4>
    <table>
      <% @user.conditions.each do |con| %>
        <% if con.emergency == true %>
          <tr>
            <td><%= con.condition %></td>
            <td><%= con.notes %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</div>

<% if @user.gpdetail %>
  <div class="row">
    <div class="col-xs-12 col-md-6 blue">
      <p><%= @user.gpdetail.firstname %></p>
      <p><%= @user.gpdetail.lastname %></p>
      <p><%= @user.gpdetail.faxnumber %></p>
      <p><%= @user.gpdetail.contactnr %></p>
      <p><%= @user.gpdetail.address1 %></p>
      <p><%= @user.gpdetail.address2 %></p>
      <p><%= @user.gpdetail.town %></p>
      <p><%= @user.gpdetail.county %></p>
      <p><%= @user.gpdetail.country %></p>
      <p><%= @user.gpdetail.postcode %></p>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="blue qr">
    <%= image_tag "https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=#{emergency_url(@user)}", class: 'qrcode' %>
    </div>
  </div>
</div>


