<div class="col-md-6">
  <% if @user.emergencycontact %>
    <%= button_to 'Notify Emergency Contact', messages_path, class: 'btn btn-success btn-100' %>
    <br>
  <% end %>
  <% if @user.profile %>
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">Profile</div>
          <div class="panel-body">
            <table class="table table-striped">
              <tr>
              <td>Name</td>
              <td> <%= @user.profile.firstname %> <%= @user.profile.lastname %></td>
            </tr>
            <tr>
              <td>Date of Birth</td>
              <td><%= @user.profile.dob %></td>
            </tr>
            <tr>
              <td>Contact Number</td>
              <td><%= @user.profile.contactnr %></td>
            </tr>
            <tr>
              <td>Address 1</td>
              <td><%= @user.profile.address1 %></td>
            </tr>
            <tr>
              <td>Address 2</td>
              <td><%= @user.profile.address2 %></td>
            </tr>
            <tr>
              <td>Town</td>
              <td><%= @user.profile.town %></td>
            </tr>
            <tr>
              <td>County</td>
              <td><%= @user.profile.county %></td>
            </tr>
            <tr>
              <td>Country</td>
              <td><%= @user.profile.country %></td>
            </tr>
            <tr>
              <td>Postcode</td>
              <td><%= @user.profile.postcode %></td>
            </tr>
            <tr>
              <td>Gender</td>
              <td><%= @user.profile.gender %></td>
            </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  <% end %>



    
  <% if @user.gpdetail %>
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">GP Details</div>
          <div class="panel-body">
            <table class="table table-striped">
              <tr>
              <td>Name</td>
              <td> <%= @user.gpdetail.firstname %> <%= @user.gpdetail.lastname %></td>
            </tr>
            <tr>
              <td>Date of Birth</td>
              <td><%= @user.gpdetail.faxnumber %></td>
            </tr>
            <tr>
              <td>Contact Number</td>
              <td><%= @user.gpdetail.contactnr %></td>
            </tr>
            <tr>
              <td>Address 1</td>
              <td><%= @user.gpdetail.address1 %></td>
            </tr>
            <tr>
              <td>Address 2</td>
              <td><%= @user.gpdetail.address2 %></td>
            </tr>
            <tr>
              <td>Town</td>
              <td><%= @user.gpdetail.town %></td>
            </tr>
            <tr>
              <td>County</td>
              <td><%= @user.gpdetail.county %></td>
            </tr>
            <tr>
              <td>Country</td>
              <td><%= @user.gpdetail.country %></td>
            </tr>
            <tr>
              <td>Postcode</td>
              <td><%= @user.gpdetail.postcode %></td>
            </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="col-md-6">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">Conditions</div>
        <div class="panel-body">
          <table class="table table-striped">
            <% @user.conditions.each do |con| %>
              <% if con.emergency == true %>
                <tr>
                  <td><%= con.condition %></td>
                  <td><%= con.notes %></td>
                </tr>
              <% end %>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12 col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">Medications</div>
        <div class="panel-body">
          <table class="table table-striped">
            <% @user.medications.each do |med| %>
                <% if med.emergency == true %>
                <tr>
                  <td><%= med.medication %></td>
                  <td><%= med.dose %></td>
                </tr>
              <% end %>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12 col-md-12">
      <div class="panel panel-default">
      <div class="panel-body">
        <div class="qr">
      <%= image_tag "https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=#{emergency_url(@user)}", class: 'qrcode' %>
      </div>
      </div>
    </div>
  </div>
</div>




