<h2>New medication</h2>
<%= current_user.id %>
<%= form_for current_user do |f| %> </p>

	<%= f.fields_for :medications do |med_fields| %>
		<%= render 'medication_fields', f: med_fields %>
	<% end %>

 	<p><%= link_to_add_fields "Add Medication", f, :medications %></p>

  <p><%= f.submit %></p>
<% end %>