<h2>Sign in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="input-group">
    <span class="input-group-addon">Email</span>
    <%= f.email_field :email, required: true, autofocus: true, class: 'form-control' %>
  </div>
  <br>
  <div class="input-group">
    <span class="input-group-addon">Password</span>
    <%= f.password_field :password, required: true, autocomplete: "off", class: 'form-control' %>
  </div>
  <br>
  <% if devise_mapping.rememberable? -%>

    <div class="input-group remember-me-container">
      <span class="input-group-addon">
        <%= f.check_box :remember_me, class: 'checkbox' %> 
      </span>
        <%= f.label :remember_me, class: 'form-control' %>
    </div>
  <% end -%>
  <br>
  <div>
    <%= f.submit "Sign in", class: 'btn btn-success' %>
    <div> <%= render "devise/shared/links"%></div>
  </div>
<% end %>
