<h1>Your Information</h1>

<%= form_for @profile do |f| %> </p>
  <p> <%= f.label :firstname, 'First Name' %>  </p>
  <p> <%= f.text_field :firstname, required: true %> </p>

  <p> <%= f.label :lastname, 'Last Name' %> </p>
  <p> <%= f.text_field :lastname, required: true %> </p>

  <p> <%= f.label :dob, 'D.O.B.' %> </p>
  <p> <%= f.text_field :dob, required: true %> </p>

  <p> <%= f.label :contactnr, 'Contact Number' %> </p>
  <p> <%= f.text_field :contactnr, required: true %> </p>

  <p> <%= f.label :address1, 'Address Line 1' %> </p>
  <p> <%= f.text_field :address1, required: true %> </p>

  <p> <%= f.label :address2, 'Address line 2' %> </p>
  <p> <%= f.text_field :address2, required: true %> </p>

  <p> <%= f.label :town, 'Town' %> </p>
  <p> <%= f.text_field :town, required: true %> </p>

  <p> <%= f.label :county, 'County' %> </p>
  <p> <%= f.text_field :county, required: true %> </p>

  <p> <%= f.label :country, 'Country' %> </p>
  <p> <%= f.text_field :country, required: true %> </p>

  <p> <%= f.label :postcode, 'Postcode' %> </p>
  <p> <%= f.text_field :postcode, required: true %> </p>

  <p> <%= f.label :gender, 'Gender' %> </p>
  <p> <%= f.text_field :gender, required: true %> </p>

  <p> <%= f.submit %> </p>
  
<%end%>
